################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Debug
/Backup
/.vs/BtrieveFileSaver
